Soubhagya's Notebook

In [9]:
import pandas as pd

data1=pd.read_csv("C:/Users/SOUBHAGYA KHAN/Python Programming/Data Files/1. ST Academy - Crash course and Regression files/Customer.csv",header=0,index_col=0)
data1.head(10)

,Customer Name,Segment,Age,Country,City,State,Postal Code,Region
Customer ID,,,,,,,,
CG-12520,Claire Gute,Consumer,67,United States,Henderson,Kentucky,42420,South
DV-13045,Darrin Van Huff,Corporate,31,United States,Los Angeles,California,90036,West
SO-20335,Sean O'Donnell,Consumer,65,United States,Fort Lauderdale,Florida,33311,South
BH-11710,Brosina Hoffman,Consumer,20,United States,Los Angeles,California,90032,West
AA-10480,Andrew Allen,Consumer,50,United States,Concord,North Carolina,28027,South
IM-15070,Irene Maddox,Consumer,66,United States,Seattle,Washington,98103,West
HP-14815,Harold Pawlan,Home Office,20,United States,Fort Worth,Texas,76106,Central
PK-19075,Pete Kriz,Consumer,46,United States,Madison,Wisconsin,53711,Central
AG-10270,Alejandro Grove,Consumer,18,United States,West Jordan,Utah,84084,West
ZD-21925,Zuschuss Donatelli,Consumer,66,United States,San Francisco,California,94109,West

In [35]:
data1.describe()

              Age   Postal Code
count  793.000000    793.000000
mean    44.467844  55229.717528
std     15.526673  31679.223816
min     18.000000   1841.000000
25%     31.000000  27217.000000
50%     45.000000  55901.000000
75%     58.000000  90004.000000
max     70.000000  99207.000000

In [38]:
data1.loc['PK-19075']

Customer Name        Pete Kriz
Segment               Consumer
Age                         46
Country          United States
City                   Madison
State                Wisconsin
Postal Code              53711
Region                 Central
Name: PK-19075, dtype: object

In [39]:
data1.iloc[0]

Customer Name      Claire Gute
Segment               Consumer
Age                         67
Country          United States
City                 Henderson
State                 Kentucky
Postal Code              42420
Region                   South
Name: CG-12520, dtype: object